@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Neucha&family=Work+Sans:wght@100&display=swap");

.App {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("./background.jpg");
}
